@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Nuova Pizza</h1>
            </div>
            <form action="@Url.Action("Create", "Menù")" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <strong>Immagine:</strong>
                    <input asp-for="Image" class="d-block w-100" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Nome:</strong>
                    <input asp-for="Nome" class="d-block w-100" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div id="inputFormRow">
                            <div class="input-group mb-3">
                                <input asp-for="Ingredienti" type="text" class="form-control m-input" placeholder="Inserire ingrediente" autocomplete="off">
                                <div class="input-group-append">
                                    <button id="removeRow" type="button" class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                        <div id="newRow"></div>
                        <button action="@Url.Action("AggiungiIngredienteAllaLista", "Menù")" id="addRow" type="button" class="btn btn-info">Aggiungi ingrediente</button>
                    </div>
                </div>
                <span asp-validation-for="Ingredienti" class="text-danger"></span>
                


@*                <div class="mb-3">
                    <strong>Ingredienti:</strong>
                    <textarea asp-for="Ingrediente" rows="10" class="d-block w-100"></textarea>
                    <span asp-validation-for="Ingrediente" class="text-danger"></span>
                </div>*@


                <div class="mb-3">
                    <strong>Prezzo:</strong>
                    <input asp-for="Prezzo" class="d-block w-100" />
                </div>
                <div class="text-end">
                    <input type="submit" class="btn btn-small btn-success" value="Salva">
                </div>

            </form>
        </div>
    </div>
</div>